<div class="wrap">
    <h2 class="head">Ford f-150 Lariat</h2>
    <div class="stars">
        🟊🟊🟊🟊🟊
    </div>
    <button>Comprar Ahora</button>
    <img class="photo" src="" alt="">
    <textarea class="descripcion">
        Marca:
        Ford
        Tipo: 
        Camioneta
        Traccion:
        AWD
        Transmision:
        Automatica de 10 velocidades
    </textarea>
    <span class="event-seat-icin-1">
        event_seat
    </span>
    
    <span class="fitness-center-icon-1">
        fitness_center
    </span>
</div>
    
